<html lang="he">
{% extends "cleanapp/base.html" %}
{% load staticfiles %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
{% block bill %}
<body>
  <div class="container-fluid" style="direction: rtl">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <p>
            שם חשבונית
        {{ form.name }}
            </p>
        <br><br>
        <p>
                        צלם חשבונית
        {{ form.image }}
    <br>
            </p>
        <p>
            הערות
        {{ form.notes}}
                </p>
<br>
    <div class="text-right"><button type="submit">העלה</button></div>
  </form>
</div>
    </body>
{% endblock %}
</html>
