<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
     <div class="col-md-3">
        <a href="{% url 'cleanapp:questions' %}" class="btn btn-block btn-lg btn-default">
            <i style="font-size: 4em;" class="glyphicon glyphicon-list-alt" id="icone_grande"></i> <br><br>
            <span class="texto_grande"><i class="fa fa-edit"></i> הכנס דוח</span></a>
      </div>
      <div class="col-md-3">
        <a href="{% url 'cleanapp:display_report' %}" class="btn btn-block btn-lg btn-default">
            <i style="font-size: 4em;" class="glyphicon glyphicon-list-alt" id="icone_grande"></i> <br><br>
            <span class="texto_grande"><i class="fa fa-eye"></i> צפה בדוח</span></a>
      </div>
      <div class="col-md-3">
        <a href="{% url 'cleanapp:add_bill' %}" class="btn btn-block btn-lg btn-default">
            <i style="font-size: 4em;" class="fa fa-camera" id="icone_grande"></i> <br><br>
            <span class="texto_grande"><i class="fa fa-edit"></i> הכנס חשבונית</span></a>
      </div>
         <div class="col-md-3">
        <a href="{% url 'cleanapp:display_bill' %}" class="btn btn-block btn-lg btn-default">
            <i style="font-size: 4em;" class="fa fa-camera" id="icone_grande"></i> <br><br>
            <span class="texto_grande"><i class="fa fa-eye"></i> צפה בחשבונית</span></a>
      </div>

    <div class="col-md-3">
        <a href="{% url 'cleanapp:work_schedule' %}" class="btn btn-block btn-lg btn-default">
            <i style="font-size: 4em;" class="fa fa-calendar" id="icone_grande"></i> <br><br>
            <span class="texto_grande"><i class="fa fa-edit"></i>  הכנס סידור עבודה</span></a>
      </div>
    <div class="col-md-3">
        <a href="{% url 'cleanapp:work_schedule_display' %}" class="btn btn-block btn-lg btn-default">
            <i style="font-size: 4em;" class="fa fa-calendar" id="icone_grande"></i> <br><br>
            <span class="texto_grande"><i class="fa fa-eye"></i>  צפה בסידור עבודה</span></a>
      </div>

</div>
</div>
</body>
</html>


