<html lang="he">
{% load staticfiles %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
{% block display_report %}
<body>
  <div class="text-right">
    <form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">בחר תאריך</button>
  </form>
  </div>
</body>
{% endblock %}
</html>
{% for bill in bills %}
<div class="col-lg-4">
     <div class="thumbnail">
      <img src={{ bill.image.url }}>
     </div>
</div>
{% endfor %}

