<html lang="he">
{% load staticfiles %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
{% block questions %}
<body>
<a href="{% url 'cleanapp:mainMenu' %}" class="btn btn-block btn-lg btn-default">
  <i style="position: fixed; left: 0px; font-size: 2em;" class="glyphicon glyphicon-home"></i> <br><br> </a>
<div class="well">
  <div class="container-fluid" style="direction: rtl">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
      {{ questionFormSet.management_form }}
      {% for title in title %}
      <h1>{{ title }}</h1>
    <br><br>
      {% for form in questionFormSet %}
      {% if form.instance.title == title %}
      <p >{{ form }}</p>
      {% endif %}
      {% endfor %}
      {% endfor %}
      </div>
    <div class="text-right"><button type="submit">שלח דו"ח</button></div>
  </form>
</div>
    </body>
{% endblock %}
</html>

